<div class="container navbar">
  <div class="left">
    <button (click)="clickOnLogo()">
      <img class="logo" ngSrc="assets/favicon/apple-icon-180x180.png" alt="{{ 'header.image-alt-logo' | translate }}" height="180" width="180"/>
      {{ 'header.home' | translate }}
    </button>
    <a class="navbar" [routerLink]="['/contact']">{{ 'header.contact' | translate }}</a>
    <a class="navbar" [routerLink]="['/login']">{{ 'header.dashboard' | translate }}</a>
  </div>
  <div class="right">
    @if (currentUser != null) {
      <div class="user-menu-wrapper"
           (document:click)="closeUserMenu()"
           (click)="$event.stopPropagation()">
        <button (click)="clickOnProfile()" class="user-button">
          <div class="username">
            {{ currentUser.name }}
          </div>
          <img class="profile-picture" [src]="(userService.image$ | async) || 'assets/svgs/default-user.svg'" alt="{{ 'header.image-alt-profile' | translate }}"/>
        </button>

        @if (isUserMenuOpen) {
          <div class="user-dropdown">
            <div class="user-info">
              <div class="line name">
                {{ currentUser.name }} ({{ currentUser.username }})
              </div>
              <div class="line email">
                {{ currentUser.email }}
              </div>
              <div class="line roles">
                {{ 'header.roles' | translate }}: {{ currentUser.roles.join(', ') }}
              </div>
            </div>

            <div class="menu-separator"></div>

            <button class="menu-item" (click)="onSettings()">
              {{ 'header.userSettings' | translate }}
            </button>
            <button class="menu-item" disabled>
              {{ 'header.language' | translate }}
            </button>
            <button class="menu-item danger" (click)="onLogout()">
              {{ 'header.logout' | translate }}
            </button>
          </div>
        }
      </div>
    }
  </div>
</div>
