<div class="container footer">
  <h4>Social</h4>
  <div class="social-media">
    <a href="https://github.com/rechen-werk" target="_blank"><i class="fa fa-github"></i></a>
    <a href="https://www.linkedin.com/in/adrian-vinojcic/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
    <a href="https://www.instagram.com/adrian_vinojcic/" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="https://steamcommunity.com/profiles/76561198272493199/" target="_blank"><i class="fa fa-steam-square"></i></a>
    <a href="https://open.spotify.com/user/vinojcicadi" target="_blank"><i class="fa fa-spotify"></i></a>
    <a href="mailto:adrian.vinojcic@gmail.com"><i class="fa fa-envelope-square"></i></a>
  </div>
  <p class="copyright small">
    <i class="fa fa-copyright"></i> {{ anno }} Adrian Vinojčić. All rights reserved.
  </p>
  <p class="secondary version">
    {{ version }}
  </p>
</div>
