@import "../styles";
:host{
  width: 100%;
  padding: 0;
  margin: auto 0 0;
  .container {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
    h4 {
      margin: 0 auto 16px auto;
      font-size: 14px;
    }
    .social-media {
      display: flex;
      flex-direction: row;
      min-width: 40%;
      margin: 0 5%;
      justify-content: space-between;
      align-items: center;

      a {
        font-size: 36px;
        text-decoration: none;
        color: #cccccc;
        white-space: nowrap;
      }
    }
    @media (min-width: $m-screen) {
      .social-media {
        margin: 0 20%;
      }
    }
    @media (min-width: $l-screen) {
      .social-media {
        margin: 0 30%;
      }
    }
    p {
      margin: 0 auto;
    }
  }
}
