<div class="page">
  <h1>{{ 'contact.contact-me' | translate }}</h1>
  <p>{{ 'contact.prompt' | translate }}</p>
  <form #contactForm="ngForm">
    <label for="name">{{ 'contact.name-label' | translate }}: </label>
    <input type="text" id="name" name="name" placeholder="{{ 'base.name' | translate }}" ngModel required>
    <label for="email">{{ 'contact.email-label' | translate }}: </label>
    <input type="email" id="email" name="email" placeholder="{{ 'base.email' | translate }}" ngModel required>
    <label for="subject">{{ 'contact.subject-label' | translate }}:</label>
    <input type="text" id="subject" name="subject" placeholder="{{ 'contact.subject' | translate }}" ngModel>
    <label for="message">{{ 'contact.message-label' | translate }}:</label>
    <textarea id="message" name="message" placeholder="{{ 'contact.message' | translate }}" ngModel required></textarea>
    <submit-button text="{{ 'contact.button' | translate }}" [action]="sendAction"/>
  </form>
  <p>{{ 'contact.alternative-method-text' | translate }} <a href="mailto:adrian.vinojcic@gmail.com">adrian.vinojcic&#64;gmail.com</a>.</p>
</div>
