:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
  }

  div.container {
    max-width: 70%;
    width: 700px;

    form {
      border-radius: 8px;
      label {
        display: block;
        margin-bottom: 5px;
        font-size: 1rem;
      }

      input, textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1rem;
        box-sizing: border-box;
      }

      textarea {
        height: 150px;
        resize: vertical;
      }
    }

    .success-message, .error-message {
      display: none;
      margin-top: 15px;
      padding: 10px;
      border-radius: 4px;
      font-size: 1rem;
    }

    .success-message {
      border: 1px solid #4CAF50;
    }

    .error-message {
      border: 1px solid #f44336;
    }
  }
}
