:host {
  flex-grow: 1;

  main {
    padding: 24px 10%;

    section {
      &#education {
        .cards {
          display: flex;
          flex-direction: row;
          gap: 24px;
          overflow-x: auto;
        }
      }
    }
  }
}
