@import "../styles";

:host {
  flex-grow: 1;

  main {
    padding: 24px 15%;

    section {
      &#about {
        display: flex;
        flex-direction: column;
        justify-items: center;

        * {
          text-align: center;
          line-height: 1.2;
        }
      }

      button {
        display: block;
        margin: 16px auto 0 auto;
      }
    }
  }
}
