@import "../styles";

:host {
  flex-grow: 1;

  main {
    padding: 24px 10%;

    section {
      h1 {
        text-transform: uppercase;
        font-size: 48px;
      }

      &#about {
        padding: 0 5%;
        @media (min-width: $m-screen) {
          padding: 0 15%;
        }

        * {
          text-align: center;
          line-height: 1.2;
        }
      }
      &#education {
        .cards {
          display: flex;
          flex-direction: row;
          gap: 24px;
          overflow-x: auto;
          scroll-snap-type: x mandatory;
        }
      }
    }
  }
}
