<main>
  <section id="about">
    <h1>About me</h1>
    <p>
      Hi! I'm Adrian, {{ age(6, 9, 2000) }} years old and I'm highly interested in Computer Science
      with a strong passion for backend development and a growing interest in frontend technologies.
      Over the past five years, I’ve developed my skills in various programming languages, including Kotlin, Java, C# and recently TypeScript,
      and I’m always eager to learn more.
      Currently, I am working at Fabasoft after finishing my Masters Degree in April 2025.
      In my free time I love to work on small side-projects like this website.
    </p>
    <p>
      This website is a space where I aim to showcase said projects, share my journey, and connect with others.
      I must warn you that I am in progress of creating this website and many sub pages are not written yet, since I can only work on it in my free time.
    </p>
    <p>
      Besides of coding, I’m eager to stay active as a firefighter in my home village and love being active through volleyball and cycling.
    </p>
    <p>
      Feel free to explore my projects, and don’t hesitate to reach out if you’d like to connect!
    </p>
  </section>
  <section id="work">
    <h2>Work</h2>
    <div class="timeline">
      <div class="entry">
        <h4 class="name">RZL <span class="secondary normal">(Software Developer)</span></h4>
        <div class="time secondary">since September 2025</div>
        <p class="description">
          After my long journey in Linz studying computer science I returned to my home town in September,
          and I am more than happy to have joined <a href="https://rzlsoftware.at/" target="_blank">RZL</a> again as a Software Developer.
          Here I am working with skilled people, implementing new features for the -next generation of the RZL Board in .NET and WPF.
        </p>
      </div>
      <div class="entry">
        <h4 class="name">Fabasoft <span class="secondary normal">(Software Developer)</span></h4>
        <div class="time secondary">February 2025 - August 2025</div>
        <p class="description">
          In February I started my first real job in the role as Software Developer working full-time at <a href="https://www.fabasoft.com/en">Fabasoft</a>.
          I was assigned to the team Relations and worked on the internal tool sharing the same name as the team using app.ducx there.
        </p>
      </div>
      <div class="entry">
        <h4 class="name">Dynatrace <span class="secondary normal">(Intern)</span></h4>
        <div class="time secondary">July, August 2023</div>
        <p class="description">
          My second, and I assume last, internship was at <a href="https://www.dynatrace.com/"
                                                             target="_blank">Dynatrace</a>.
          Dynatrace is a big international company with roots in <a href="https://de.wikipedia.org/wiki/Linz"
                                                                    target="_blank">Linz</a>, which is also the location
          where I took my internship.
          I got placed in the Cloud Access Engineering team and got tasked with creating a prototype for improving their
          process of reviewing permissions in order to stay <a
          href="https://en.wikipedia.org/wiki/Sarbanes%E2%80%93Oxley_Act" target="_blank">SOX compliant</a>.
          My major takeaways from working at this company are a kind team, the agile scrum workflow at work, and
          improvements in my Spring and Kotlin skills.
          A negative and probably inherent takeaway is the time it takes to get something done when working corporately.
        </p>
      </div>
      <div class="entry">
        <h4 class="name">RZL <span class="secondary normal">(Intern)</span></h4>
        <div class="time secondary">July 2022</div>
        <p class="description">
          My first internship was at <a href="https://rzlsoftware.at/" target="_blank">RZL</a>.
          This is a medium-sized company in the heart of the <a href="https://de.wikipedia.org/wiki/Innviertel"
                                                                target="_blank">Innviertel</a>, where I come from.
          At RZL they tasked me to <span class="italic secondary huh"
                                         title="Essentially they helped me more than I could help them. But what is to expect of a first contact with corporate software development?">help</span>
          working on an internal tool which distributes their software across their servers.
          The people there are very kind and my mentor was always there if I had any question.
          The main thing I took from this internship is, how to work with git and a better knowledge about C#.
        </p>
      </div>
      <div class="entry">
        <h4 class="name">Institute for System Software <span class="secondary normal">(Tutor)</span></h4>
        <div class="time secondary">October 2021 - January 2025</div>
        <p class="description">
          As a student I quickly decided to take a tutoring job.
          Since I liked the lectures from <a href="https://www.ssw.jku.at/" target="_blank">SSW</a> best, I took the
          first opportunity to take a position at their institute.
          At this position my task changed over the years. First it was to answer Students' questions in the Tutorial
          for <a href="https://ssw.jku.at/Teaching/Lectures/SW1/VL/index.html" target="_blank">Software Development
          1</a>,
          and correct homeworks in the lectures <a href="https://ssw.jku.at/Teaching/Lectures/SW2/VL/index.html"
                                                   target="_blank">Software Development 2</a> and later the follow up
          courses <a href="https://ssw.jku.at/Teaching/Lectures/PSW2/2024/index.html" target="_blank">Practical in
          Software Development 2</a> and <a href="https://ssw.jku.at/Teaching/Lectures/CB/VL/" target="_blank">Compiler
          Construction</a>.
        </p>
      </div>
      <div class="entry">
        <h4 class="name">Municipality Neuhofen im Innkreis <span class="secondary normal">(Summer Job)</span></h4>
        <div class="time secondary">July 2020</div>
        <p class="description">
          My first summer job was to help the janitor of my elementary school perform some big cleaning in the summer break.
          This included cleaning tables of students, cleaning windows, removing spider webs and so on.
          Not really a fun job, but worth the experience in any case.
        </p>
      </div>
      <div class="entry">
        <h4 class="name">Naschmax <span class="secondary normal">(Salesperson)</span></h4>
        <div class="time secondary">September 2017 - October 2019, September 2020, September 2021</div>
        <p class="description">
          At <a href="https://www.naschmax.at/" target="_blank">Naschmax</a> I got into first contact with working at
          age 17.
          I worked here about once a week on the weekend while going to school.
          While being employed, my task was to sell sweets in various locations in Austria.
          Mainly in the upper austrian region, but sometimes we also went to bigger venues like the
          <a href="https://www.dult.at/de/" target="_blank">Dult</a> in Salzburg or the <a
          href="https://www.villacherkirchtag.at/austrias-largest-traditional-festival/" target="_blank">Kirchtag</a> in
          Villach.
          A fun event was the Linzer <a href="https://urfahranermarkt.com/" target="_blank">Urfix</a> which took place
          twice a year.
        </p>
      </div>
    </div>
    <div class="center-vertical">
      <button class="cv" (click)="downloadCV()">
        Download CV
      </button>
    </div>
  </section>
  <section id="education">
    <h2>Education</h2>
    <div class="schools">
      <div class="timeline">
        <div class="entry">
          <h4 class="name">JKU Linz <span class="secondary normal">(Computer Science Master)</span></h4>
          <div class="time secondary">December 2023 - April 2025</div>
          <p class="description">
            For my masters degree I specialized in the field of Software Engineering.
            My masters thesis is about creating personalized semester schedules for students at JKU.
            I have written the tool in collaboration with the Department of Information Management and the <a href="https://www.ssw.jku.at/" target="_blank">Institute for System Software</a>.
            The thesis can be found <a href="/assets/documents/master_thesis.pdf" target="_blank">here</a>.
          </p>
        </div>
        <div class="entry">
          <h4 class="name">JKU Linz <span class="secondary normal">(Computer Science Bachelor)</span></h4>
          <div class="time secondary">March 2020 - December 2023</div>
          <p class="description">
            Right after school I started studying Mathematics at JKU, but quickly I realized that this topic is too dry.
            Immediately in the next semester I switched to studying Informatics.
            Life has been better since.
          </p>
        </div>
        <div class="entry">
          <h4 class="name">BORG Ried im Innkreis <span class="secondary normal">(Matura)</span></h4>
          <div class="time secondary">September 2015 - June 2019</div>
          <p class="description">
            In Austria one has to attain Matura before being admitted to University.
            During the time in school I got elected as a vice student representative and in our term we achieved that
            our school adapts some nice merch.
            The entire planning, and execution was done by us (kinda proud of that one).
            The end of this time was awarded with an diploma with excellence.
          </p>
        </div>
      </div>
    </div>
    <h3>Thesis and Papers</h3>
    <cards [cards]="paperCards"/>
  </section>
  <!--section id="skills">
    <h2>Skills</h2>

  </section-->
  <section id="projects">
    <h2>Projects</h2>
    <p>
      For now check out my GitHub for Projects, but in the future I want to create a few entries here to showcase those.
    </p>
  </section>
</main>
