<div class="container home">
  <main>
    <section id="home">
      <h1>About me</h1>
      <p>
        Hi! I'm Adrian and I'm currently pursuing a master's degree in Computer Science, with a strong passion for backend development and a growing interest in frontend technologies.
        Over the past five years, I’ve developed my skills in various programming languages, including Kotlin, Java, C# and recently TypeScript, and I’m always eager to learn more.
      </p>
      <p>
        This website is a space where I aim to showcase my projects, share my journey, and connect with others.
        While I don't offer services just yet, I’m open to any opportunities to continue growing and refine my expertise.
      </p>
      <p>
        Besides of coding, I’m also a firefighter and love staying active through volleyball and cycling.
      </p>
      <p>
        Feel free to explore my projects, and don’t hesitate to reach out if you’d like to connect!
      </p>
    </section>
    <section id="education">
      <h2>Education</h2>
      <h3>Thesis and Papers</h3>
      <div class="cards">
        <app-card *ngFor="let card of thesisCards" [card]="card"/>
        <app-card *ngFor="let card of paperCards" [card]="card"/>
      </div>
    </section>
    <section id="work">
      <h2>Work</h2>
    </section>
    <section id="projects">
      <h2>Projects</h2>
    </section>
  </main>
  <app-footer/>
</div>
