<main>
  <section id="about">
    <h1>{{ 'home.about' | translate }}</h1>
    <p>{{ 'home.paragraph1' | translate:{ age: age(6,9,2000) } }}</p>
    <p>{{ 'home.paragraph2' | translate }}</p>
    <p>{{ 'home.paragraph3' | translate }}</p>
  </section>
  <section id="work">
    <h2>{{ 'home.work' | translate }}</h2>
    <timeline [entries]="workTimeline"/>
    <button class="cv" (click)="downloadCV()">{{ 'home.download-cv' | translate }}</button>
  </section>
  <section id="education">
    <h2>{{ 'home.education' | translate }}</h2>
      <timeline [entries]="schoolTimeline"/>
    <h3>{{ 'home.thesis-and-papers' | translate }}</h3>
    <cards [cards]="paperCards"/>
  </section>
</main>
