<div class="page">
  <h1>{{ 'login.title' | translate }}</h1>
  <form #loginForm="ngForm">
    <label for="username">{{ 'base.username' | translate }}: </label>
    <input type="text" id="username" name="username" placeholder="{{ 'base.username' | translate }}" ngModel required>
    <label for="password">{{ 'base.password' | translate }}: </label>
    <input type="password" id="password" name="password" placeholder="{{ 'base.password' | translate }}" ngModel required>
    <submit-button text="{{ 'login.button' | translate }}" [action]="loginAction"/>
  </form>
</div>
