<div class="page">
  <h1>Dashboard Login</h1>
  <form (ngSubmit)="login($event)" #loginForm="ngForm">
    <label for="username">Username: </label>
    <input type="text" id="username" name="username" placeholder="Username" ngModel required>
    <label for="password">Password: </label>
    <input type="password" id="password" name="password" placeholder="Password" ngModel required>
    @if (inProgress) {
      <div class="spinner-container">
        <div class="spinner"></div>
      </div>
    } @else {
      <input type="submit" value="Log in">
    }
  </form>
  <div class="message-container">
    @if (errorMessage !== null) {
      <div class="error-message" [@fadeInOut]>{{errorMessage}}</div>
    }
  </div>
</div>
