:host {
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  .name-bar {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ffffff;
    h3 {
      margin: 8px;
    }
    .icon {
      padding-left: 16px;
      padding-right: 36px;
    }
  }
  .preview {
    display: flex;
    height: 200px;
    width: calc(100% - 1px);
  }
}
