:host {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: grid;
  gap: 32px;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  overflow: hidden;
  .panel {
    width: auto;
    height: auto;
    border: 1px solid white;
    .name-bar {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid white;
      h3 {
        margin: 8px;
      }
      .icon {
        padding-left: 16px;
        padding-right: 36px;
      }
    }
    .preview {
      margin: 8px;
      .iframe-wrap{
        width: 100%;
        height: 190px;

        iframe {
          border: none;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
