:host{
  a {
    text-decoration: none;
    color: inherit;
  }

  .container {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: 300px;
    height: 450px;

    &:hover {
      div.image {

      }

      div.content {
        background-color: #222222;
      }
    }
    div.image {
      flex: 1;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      &.top {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }

      &.left {
        border-bottom-left-radius: 12px;
        border-top-left-radius: 12px;
      }

      &.right {
        border-bottom-right-radius: 12px;
        border-top-right-radius: 12px;
      }

      &.bottom {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
      }
    }
    div.content {
      flex: 2;
      border: 1px solid gray;
      padding: 0 18px;
      overflow-y: auto;
      h4 {
        font-size: 20px;
        margin: 20px 0 5px 0;
      }
      .topic-date {
        margin: 5px 0 5px 0;
      }

      &.top {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom: none;
      }

      &.left {
        border-bottom-left-radius: 12px;
        border-top-left-radius: 12px;
        border-right: none;
      }

      &.right {
        border-bottom-right-radius: 12px;
        border-top-right-radius: 12px;
        border-left: none;
      }

      &.bottom {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-top: none;
      }
    }
  }
}
