@import "../../styles/variables";

:host {
  width: 100%;
  max-width: 100%;
 .container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 16px 12px;
   border-bottom-width: 2px;
   border-bottom-style: solid;
   button {
     border: 1px solid $navbar-border-clolor;
     background-color: transparent;
     margin: 0;
     padding: 0;
     &:hover {
       background-color: transparentize(white, 0.7);
     }
   }
 }
}
