:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div.container {
    width: 70%;
    .caption {
      font-weight: bold;
    }
    td.description {
      padding-left: 16px;
    }
    margin-bottom: 40px;
  }
}
