$text-color: text-color;
$heading-color: heading-color;
$primary-color: primary-color;
$secondary-color: secondary-color;
$bg-color: bg-color;
$link-color: link-color;
$secondary-box-color: secondary-box-color;
$navbar-background-color: navbar-background-clolor;
$navbar-border-color: navbar-border-color;
$footer-text-color: footer-text-color;
$footer-background-color: footer-background-color;
$highlight-color: highlight-color;

$theme:(
  $text-color: #fdf0d5,
  $heading-color: #fdf0d5,
  $primary-color: #c1121f,
  $secondary-color: #a4a4a4,
  $bg-color: #131313,
  $link-color: #ffa1a1,
  $navbar-background-color: #000000,
  $navbar-border-color: #3f3f3f,
  $footer-text-color: #dedede,
  $footer-background-color: #000000,
  $highlight-color : #ffb2b2,
);
