$text-color: text-color;
$heading-color: heading-color;
$primary-color: primary-color;
$secondary-color: secondary-color;
$bg-color: bg-color;
$bg-box-color: bg-box-color;
$primary-box-color: primary-box-color;
$secondary-box-color: secondary-box-color;
$sidebar-background-color: sidebar-background-color;
$navbar-background-color: navbar-background-clolor;
$navbar-border-color: navbar-border-color;
$footer-text-color: footer-text-color;
$footer-background-color: footer-background-color;

$theme:(
  $text-color: #fdf0d5,
  $heading-color: #fdf0d5,
  $primary-color: #c1121f,
  $secondary-color: #669bbc,
  $bg-color: #0a0a0a,
  $bg-box-color: #577586,
  $primary-box-color: #780000,
  $sidebar-background-color: #1f261f,
  $navbar-background-color: #3ca64d,
  $navbar-border-color: #146b24,
  $footer-text-color: #edf2f4,
  $footer-background-color: #161616,
);
