@import "../styles";

:host {
  width: 100%;
  height: 100%;
  display: flex;

  flex-direction: column;
  overflow: scroll;
  @media (min-width: $s-screen) {
    flex-direction: row;
    overflow: hidden;
  }
  .hidden {
    display: none;
    width: 0;
  }
}
