<div class="page">
  <h2>Hello {{name}}</h2>
  <form (ngSubmit)="register($event)" #registerForm="ngForm">
    <label for="email">E-Mail: </label>
    <input type="email" id="email" disabled value="{{email}}">
    <label for="username">Username: </label>
    <input type="text" id="username" name="username" placeholder="Name" ngModel required>
    <label for="password">Password: </label>
    <input type="password" id="password" name="password" placeholder="Password" ngModel required>
    <label for="confirmPassword">Repeat Password: </label>
    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Password" ngModel required>
    @if (inProgress) {
      <div class="spinner-container">
        <div class="spinner"></div>
      </div>
    } @else {
      <input type="submit" value="Sign up">
    }
  </form>
  <div class="message-container">
    @if (errorMessage !== null) {
      <div class="error-message" [@fadeInOut]>{{errorMessage}}</div>
    }
    @if (successMessage !== null) {
      <div class="success-message" [@fadeInOut]>{{successMessage}}</div>
    }
  </div>
</div>
