@import "../styles";

:host {
  width: 100%;
  display: flex;
  @media (min-width: $s-screen) {
    width: fit-content;
  }
  .container {
    width: 100%;
    flex: 1;
    padding: 24px 64px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 10%;

    .group {
      display: flex;
      flex-direction: column;
      gap: 10px;

      a {
        font-size: 28px;
        font-weight: bold;
        text-decoration: none;
        color: red;
        white-space: nowrap;
        &:link {
          color: red;
        }
        &:visited {
          color: red;
        }
        &:hover {
          color: hotpink;
          background-color: transparentize(gray, 0.5);
        }
        &:active {
          color: blue;
        }
      }
    }
  }
}
