@import "../styles";

:host {
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10%;

    padding: 24px;

    width: 100vw;
    @media (min-width: $s-screen) {
      width: 125px;
    }
    @media (min-width: $m-screen) {
      width: 175px;
    }
    @media (min-width: $l-screen) {
      width: 225px;
    }
    @media (min-width: $xl-screen) {
      width: 325px;
    }

    .group {
      display: flex;
      flex-direction: column;
      gap: 10px;
      a {
        font-size: 28px;
        font-weight: bold;
        text-decoration: none;
        color: red;
        &:link {
          color: red;
        }
        &:visited {
          color: red;
        }
        &:hover {
          color: hotpink;
        }
        &:active {
          color: blue;
        }
      }
    }

    &.hidden {
      display: none;
      width: 0;
    }
  }
}
