<div class="container sidebar">
  <div class="group">
    <a href="#home" class="w3-xlarge"><i class="fa fa-home"></i> Home</a>
    <a href="#education" class="w3-xlarge"><i class="fa fa-book"></i> Education</a>
    <a href="#work" class="w3-xlarge"><i class="fa fa-briefcase"></i> Work</a>
    <a href="#projects" class="w3-xlarge"><i class="fa fa-code"></i> Projects</a>
  </div>
  <div class="group">
    <a class="w3-xlarge"><div class="strike"><i class="fa fa-pencil-square-o"></i> Blog</div></a>
    <a href="https://github.com/rechen-werk" target="_blank" class="w3-xlarge"><i class="fa fa-github"></i> GitHub</a>
    <a href="https://www.linkedin.com/in/adrian-vinojcic/" target="_blank" class="w3-xlarge"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
  </div>
</div>
