@import "variables";

$s-screen: 576px;
$m-screen: 768px;
$l-screen: 992px;
$xl-screen: 1200px;

@function theme($key, $theme-map) {
  @return map-get($theme-map, $key);
}

@mixin apply-theme($theme) {
  body {
    font-family: 'Roboto', sans-serif;

    margin: 0;
    width: 100%;
    height: 100%;

    color: theme($text-color, $theme);
    background-color: theme($bg-color, $theme);
  }
  .box {
    color: theme($text-color, $theme);
    background-color: theme($bg-box-color, $theme);
  }
  .sidebar {
    color: theme($text-color, $theme);
    background-color: theme($sidebar-background-color, $theme);
  }
  .navbar {
    color: theme($text-color, $theme);
    background-color: theme($navbar-background-color, $theme);
    border-color: theme($navbar-border-color, $theme);
    text-decoration: none;
  }
  .footer {
    color: theme($footer-text-color, $theme);
    background-color: theme($footer-background-color, $theme);
  }
  .nav-border {
    border-color: theme($navbar-border-color, $theme);
  }

  .secondary {
    color: theme($secondary-color, $theme);
  }
  .link {
    color: theme($link-color, $theme);
  }

  h1, h2, h3, h4, h5, h6 {

  }
  a {
    color: theme($link-color, $theme);
  }

  p, a {
    font-size: 16px;
    &.small {
      font-size: 12px;
    }
  }
  @media (min-width: $s-screen) {
    p, a {
      font-size: 14px;
      &.small {
        font-size: 10px;
      }
    }
  }
  @media (min-width: $m-screen) {
    p, a {
      font-size: 16px;
      &.small {
        font-size: 12px;
      }
    }
  }
  @media (min-width: $l-screen) {
    p, a {
      font-size: 18px;
      &.small {
        font-size: 12px;
      }
    }
  }
  @media (min-width: $xl-screen) {
    p, a {
      font-size: 18px;
      &.small {
        font-size: 12px;
      }
    }
  }
  .strike {
    text-decoration: line-through;
    * {
      text-decoration: line-through;
    }
  }
}

html {
  width: 100vw;
  height: 100vh;
  @include apply-theme($theme);
}
