<div class="container home">
  <section id="home">
    <h1>Adrian Vinojcic</h1>
    <p>
      Hello there, this is my personal website, I started developing it on August 22. 2024 to be an forever WIP.
    </p>
    <h2>Contact Details</h2>
    <p>Email: adrian.vinojcic&#64;gmail.com</p>
  </section>
  <section id="education">
    <h2>Education</h2>
    <p>Content</p>
  </section>
  <section id="work">
    <h2>Work</h2>
    <p>Content</p>
    <p>Content</p>
  </section>
  <section id="projects">
    <h2>Projects</h2>
    <p>Content</p>
    <p>Content</p>
  </section>
  <app-footer/>
</div>
