@import "../styles";

:host {
  flex-grow: 1;
  overflow: visible;
  @media (min-width: $s-screen) {
    overflow: auto;
  }
  .container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    main {
      padding: 24px 7.5%;
      section {

      }
    }
  }
}
