<div class="container">
  <h1>Wrap Crop Memes</h1>
  <div class="container-2" >
    <img alt="Instructions to copy link: Open discord -> rightclick image -> click Copy link" src="assets/crop/instructions.png">
    <form (ngSubmit)="cropMeme($event)" #cropForm="ngForm">
      <label for="name">Link to Meme: </label>
      <input type="text" id="name" name="name" placeholder="Link" [(ngModel)]="cropLink" required>
      <input type="submit"  class="submit" value="Generate" *ngIf="!inProgress">
      <div class="spinner-container" *ngIf="inProgress">
        <div class="spinner"></div>
      </div>
      <div class="error-message" *ngIf="showErrorMessage" [@fadeInOut]>Oops, something went wrong. Maybe your link is wrong or the backend is down.</div>
    </form>
  </div>
</div>
